name: Build

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v4
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3
    - name: Setup Java
      uses: actions/setup-java@v4
      with: 
        distribution: 'oracle'
        java-version: '17'
    - name: Chmod
      run: chmod 777 ./gradlew
    - name: Gradle
      run: ./gradlew
    - name: Build with Gradle
      run: ./gradlew build
